body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background: #000000;
  font-family: Montserrat, Noto-Sans, Roboto;
}

/*-----------------page------------------------*/
.page__scanner {
  margin-bottom: 204px;
}

.page__integration {
  margin: 0 0 217px 0;
}

.page__code {
  margin-bottom: 382px;
}

.page__generate {
  margin: 0 0 200px 0;
}
@media (max-width: 396px) {
  .page__generate {
    margin: 0 0 150px 0;
  }
}
@media (max-width: 320px) {
  .page__generate {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 395px) {
  .page__easy {
    margin: 0 0 150px 0;
  }
}

/*----------------wrapper-------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

/*-------------------container-------------------*/
._container {
  max-width: 1125px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

/*--------------------header--------------------*/
.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__body {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo a:not(:last-child) {
  margin: 0 8px 0 0;
}
.header__login {
  display: flex;
  align-items: center;
  margin: 0 0 0 108px;
}
.header__login a:not(:last-child) {
  margin: 0 14px 0 0;
}
.header__text {
  font-family: Noto Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 138%;
  color: #ffffff;
}
.header__text:hover {
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 767px) {
  .header__login a:first-child {
    display: none;
  }
  .header__logo {
    flex: 1 1 auto;
  }
}
@media (max-width: 390px) {
  .header__body {
    display: flex;
    align-items: center;
    padding: 30px 10px 0 0px;
    z-index: 3;
  }
  .header__logo img {
    width: 90%;
  }
  .header__logo a {
    padding-top: 5%;
  }
  .header__logo a:not(:last-child) {
    margin: 0;
  }
}
/*-----------------------main-----------------------*/
.main__items {
  display: grid;
  grid-template-columns: 650px auto;
  grid-template-rows: 140px auto;
  padding: 154px 0 0 0;
}
.main__title-body {
  grid-column: 1/-2;
  grid-row: 1/2;
  max-width: 643px;
  min-height: 294px;
}
.main__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 109%;
}
.main__item {
  grid-column: 1/2;
}
.main__content {
  position: relative;
}
.main__boxtext {
  max-width: 588px;
  padding: 129px 107px 0 112px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.main__text {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 135%;
  color: #FFFFFF;
}
.main__image {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/-1;
}

.image__pink img {
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
.image__circle {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  margin: -10% 0 0 -12%;
  z-index: -1;
  max-width: 100%;
}
.image__line {
  position: absolute;
  margin: 12.2% 0 0 2%;
}
.image__iphone {
  margin: -60% 0 0 0;
  position: absolute;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

@media (max-width: 1160px) {
  .main__items {
    grid-template-columns: 600px 500px;
  }
  .main__title {
    font-size: 52px;
  }
}
@media (max-width: 1114px) {
  .image__iphone {
    margin: -60% 0 0 -100px;
  }
}
@media (max-width: 998px) {
  .main__items {
    grid-template-columns: 600px 300px;
  }
  .main__title {
    font-size: 42px;
  }
  .main__title-body {
    text-align: left;
    max-width: 500px;
    min-height: 294px;
  }
  .main__boxtext {
    max-width: 591px;
    padding: 80px 240px 0 40px;
  }

  .image__line {
    display: none;
  }
  .image__iphone {
    margin: -70% 0 0 -80%;
  }
}
@media (max-width: 850px) {
  .main__title-body {
    text-align: left;
    max-width: 420px;
    min-height: 294px;
  }
  .main__boxtext {
    max-width: 591px;
    padding: 80px 280px 0 0;
  }

  .image__iphone {
    margin: -70% 0 0 -100%;
  }
  .image__line {
    display: none;
  }
  .image__circle {
    margin: -91px 0 0 -151px;
  }
}
@media (max-width: 744px) {
  .main__boxtext {
    max-width: 440px;
    padding: 80px 140px 0 0;
  }

  .image__iphone {
    margin: -70% 0 0 -330px;
  }
}
@media (max-width: 676px) {
  .main__items {
    grid-template-columns: 600px 300px;
  }
  .main__boxtext {
    max-width: 345px;
    padding: 24px 130px 0 0;
  }
  .main__title-body {
    text-align: left;
    max-width: 350px;
    min-height: 294px;
  }
  .main__title {
    font-size: 36px;
  }
  .main__text {
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
  }

  .image__iphone {
    margin: -70% 0 0 -470px;
  }
  .image__circle {
    margin: -25% 0 0 -30%;
  }

  .page__main {
    margin: 0 0 55px 0;
  }
}
@media (max-width: 375px) {
  .image__iphone {
    display: none;
  }
}
@media (max-width: 320px) {
  .main__image {
    display: none;
  }
  .main__items {
    padding: 60px 0 0 0;
  }

  .image__pink {
    display: none;
  }
}
/*-----------------------store---------------------*/
.store__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  min-height: 52px;
  position: relative;
  padding: 267px 0 0 0;
}
.store__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 200%;
}
.store__btn a:first-child {
  display: none;
}

.btn {
  display: flex;
  flex-wrap: nowrap;
}
.btn a:not(:last-child) {
  margin: 0 28px 0 0;
}
@media (max-width: 998px) {
  .store__body {
    padding: 380px 122px 0 0;
  }
}
@media (max-width: 998px) {
  .store__title {
    font-size: 24px;
  }
}
@media (max-width: 946px) {
  .store__body {
    padding: 380px 70px 0 0;
  }
}
@media (max-width: 768px) {
  .store__body {
    flex-direction: column;
    padding: 400px 0 0 0;
  }
  .store__btn {
    display: flex;
    flex-direction: column;
    margin: 34px 0 0 0;
  }
  .store__btn a:not(:last-child) {
    margin: 0 0 24px 0;
  }
  .store__btn a:first-child {
    display: block;
  }
  .store__btn a:nth-child(2) {
    display: none;
  }
}
@media (max-width: 320px) {
  .store__body {
    padding: 50px 0px 0 0;
  }
  .store__title {
    font-size: 16px;
  }
  .store__btn {
    margin: 14px 0 0 0;
  }
}
/*---------------------band-------------------------*/
.band {
  padding: 25px 0 0 0;
}
.band__body {
  width: 100%;
  background: #212834;
  min-height: 93px;
  position: relative;
}
.band__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 93px;
}
.band__text {
  font-family: Noto Sans;
  font-size: 14px;
  line-height: 136%;
  color: #FFFFFF;
  padding: 0 20px 0 0;
}
.band__btn {
  position: absolute;
  right: 0;
  width: 132px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #FFFFFF;
  border-radius: 6px;
  color: #ffffff;
  margin: 0 24px 0 0;
}
.band__btn:hover {
  background: rgba(255, 255, 255, 0.404);
}

@media (max-width: 978px) {
  .band {
    display: none;
  }
}
@media (max-width: 790px) {
  .band__item {
    max-width: 341px;
  }
}
@media (max-width: 486px) {
  .band__item {
    max-width: 256px;
  }
}
@media (max-width: 390px) {
  .band__text {
    font-size: 12px;
    padding: 0 87px 0 0;
  }
}
@media (max-width: 390px) {
  .band__text {
    padding: 0 128px 0 0;
  }
}
/*----------------------contacts---------------------------*/
.contacts {
  padding: 61px 0 0 0;
}
.contacts__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, 503px);
  grid-template-rows: 312px;
  -moz-column-gap: 81px;
       column-gap: 81px;
  justify-content: flex-end;
}
.contacts__item {
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 21.371px;
  padding: 64px 110px 62px 55px;
}
.contacts__item:last-child {
  padding-top: 97px;
}
.contacts__title {
  font-family: Noto Sans;
  font-weight: 700;
  font-size: 30px;
  line-height: 136%;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  margin: 0 0 30px 0;
}
.contacts__link {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 72%;
  color: #FFFFFF;
}
.contacts__link:hover {
  border-bottom: 1px solid #ffffff;
}
.contacts__login {
  font-family: Noto Sans;
  font-size: 24px;
  line-height: 72%;
  color: #FFFFFF;
}
.contacts__login:hover {
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 1116px) {
  .contacts__body {
    grid-template-columns: repeat(auto-fit, 450px);
    grid-template-rows: 312px;
  }
  .contacts__item {
    padding: 64px 82px 62px 33px;
  }
  .contacts__item:last-child {
    padding-top: 97px;
  }
}
@media (max-width: 1010px) {
  .contacts__body {
    grid-template-columns: repeat(auto-fit, 420px);
    grid-template-rows: 312px;
  }
  .contacts__item {
    padding: 64px 50px 62px 33px;
  }
}
@media (max-width: 950px) {
  .contacts__body {
    grid-template-columns: repeat(auto-fit, 380px);
    grid-template-rows: 312px;
  }
  .contacts__item {
    padding: 64px 16px 62px 18px;
  }
  .contacts__item:last-child {
    padding-top: 97px;
  }
}
@media (max-width: 870px) {
  .contacts__body {
    grid-template-columns: repeat(auto-fit, 345px);
    grid-template-rows: 233px 167px;
    row-gap: 30px;
  }
  .contacts__item {
    padding: 25px 16px 62px 18px;
  }
  .contacts__item:last-child {
    padding-top: 55px;
  }
}
@media (max-width: 800px) {
  .contacts__body {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .contacts__title {
    font-size: 24px;
  }
  .contacts__item {
    padding: 39px 50px 40px 33px;
  }
  .contacts__item:last-child {
    padding-top: 39px;
  }
}
@media (max-width: 370px) {
  .contacts__body {
    grid-template-columns: repeat(auto-fit, 290px);
    grid-template-rows: 233px 167px;
    row-gap: 30px;
  }
  .contacts__title {
    font-size: 20px;
  }
  .contacts__item {
    padding: 39px 40px 38px 33px;
  }
  .contacts__item:last-child {
    padding-top: 39px;
  }
}
/*------------------------mission--------------------*/
.mission {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.mission__image img {
  max-width: 100%;
}
.mission__phonemission {
  display: none;
}
.box-content__body {
  position: relative;
  max-width: 360px;
  min-height: auto;
  padding: 200px 0 0 0;
  margin: 0 0 0 -30%;
}
.box-content__body:not(:last-child) {
  margin: 0 0 38px 0;
}
.box-content__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 51px;
  line-height: 121%;
  color: #FFFFFF;
  margin: 0 0 23px 0;
}
.box-content__title::after {
  content: "";
  background-image: url("../img/mission/Ellipse94.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 18%;
  right: -25%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.box-content__text {
  font-family: Noto Sans;
  font-size: 18px;
  line-height: 138%;
  color: #FFFFFF;
  padding: 0 40px 0 0;
}

@media (max-width: 1047px) {
  .box-content__body {
    max-width: 375px;
  }
}
@media (max-width: 1100px) {
  .box-content__title {
    font-size: 42px;
    line-height: 121%;
  }
  .box-content__body {
    padding: 150px 0 0 0;
  }
  .box-content .box-content__title::after {
    top: 0%;
    right: -30%;
  }
}
@media (max-width: 958px) {
  .box-content__title {
    font-size: 24px;
    line-height: 121%;
  }
  .box-content__text {
    font-size: 16px;
    line-height: 138%;
  }
}
@media (max-width: 767px) {
  .mission {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .box-content__body {
    margin: 0;
    position: relative;
    max-width: 733px;
    min-height: auto;
    padding: 100px 0 0 0;
  }
  .box-content__title::after {
    content: "";
    background-image: url("../img/mission/Ellipse94.png");
    background-repeat: no-repeat;
    position: absolute;
    margin: -40px 0 0 30px;
    top: -10%;
    left: -20%;
    width: 100%;
    height: 110%;
  }
  .box-content__text {
    padding: 0 260px 0 0;
  }
}
@media (max-width: 583px) {
  .box-content__text {
    padding: 0 170px 0 0;
  }
}
@media (max-width: 516px) {
  .box-content__text {
    padding: 0 100px 0 0;
  }
}
@media (max-width: 425px) {
  .box-content__text {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .mission__img {
    display: none;
  }
  .mission__phonemission {
    display: block;
    margin: 100px 0 0 0;
  }
  .mission__image {
    margin: -60px 0 0 0;
  }

  .box-content__text {
    padding: 0 17px 0 0;
  }
  .box-content__title {
    padding: 0 100px 0 0;
  }
  .box-content__title::after {
    content: "";
    background-image: url("../img/mission/Ellipse94.png");
    background-repeat: no-repeat;
    position: absolute;
    margin: -50px 0 0 -40px;
    top: -10%;
    left: -30%;
    width: 100%;
    height: 110%;
  }
}
/*--------------scanner-------------------------*/
.scanner__band {
  display: none;
}
.scanner__image-background {
  position: relative;
  width: 100%;
}
.scanner__image-background img {
  z-index: -1;
  width: 100%;
  position: absolute;
}
.scanner__body {
  display: flex;
  position: relative;
  align-items: flex-end;
  padding: 467px 0 0 0;
  z-index: 50;
}
.scanner__item {
  display: flex;
}
.scanner__item img:not(:last-child) {
  margin: 0 50px 0 0;
}
.scanner__item img {
  max-width: 100%;
  height: 100%;
  padding: 0 0 0 6px;
}
.scanner__content {
  margin: 0 0 73px 128px;
}

.box-scanner__body {
  max-width: 378px;
}
.box-scanner__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 51px;
  line-height: 121%;
}
.box-scanner__title:not(:last-child) {
  margin: 0 0 23px 0;
}
.box-scanner__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 138%;
}

@media (max-width: 1062px) {
  .box-scanner__title {
    font-size: 48px;
  }
  .box-scanner__text {
    font-size: 16px;
  }
  .box-scanner__body {
    max-width: 378px;
    margin: 0 0 73px 128px;
    padding: 0 0 0 20px;
  }
}
@media (max-width: 1006px) {
  .scanner__item img:not(:last-child) {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 958px) {
  .scanner__body {
    padding: 380px 0 0 0;
  }
  .scanner__content {
    align-items: flex-start;
  }

  .box-scanner__title {
    font-size: 24px;
  }
}
@media (max-width: 978px) {
  .scanner__body {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 550px 0 0 0;
  }
  .scanner__content {
    margin: 0;
  }

  .box-scanner__body {
    margin: 0 0 60px 0;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .scanner__body {
    align-items: flex-start;
    padding: 380px 0 0 0;
  }

  .box-scanner__title {
    font-size: 24px;
  }
  .box-scanner__body {
    align-items: flex-start;
  }
}
@media (max-width: 709px) {
  .scanner__item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .scanner__item img:not(:last-child) {
    margin: 0 0 55px 0;
  }

  .box-scanner__text {
    font-size: 16px;
  }
  .box-scanner__title {
    font-size: 24px;
  }
}
@media (max-width: 425px) {
  .scanner__body {
    padding: 220px 0 0 0;
  }

  .box-scanner__body {
    margin: 0 0 70px 0;
  }
}
@media (max-width: 320px) {
  .scanner__body {
    padding: 160px 0 0 0;
  }
}
@media (max-width: 978px) {
  .scanner__band {
    display: block;
    align-items: center;
  }
}
/*--------------integration-------------------------*/
.intagration__box {
  padding: 89px 0 0 0;
  margin: 0;
  max-width: 514px;
}
.intagration__box p {
  padding: 0 88px 0 0;
}
.intagration__images {
  display: grid;
  grid-template-columns: 193px auto 183px;
  grid-template-rows: 150px 224px 143px;
  margin: 50px 0 0 0;
}
.intagration__item1 {
  grid-column: 3/-1;
  grid-row: 1/-3;
}
.intagration__item1 img {
  margin: 0 0 0 -141px;
}
.intagration__item2 {
  grid-column: 2/-3;
  grid-row: 2/-2;
  padding: 34px 0 0 0;
  z-index: 2;
}
.intagration__item2 img:not(:last-child) {
  margin: 0 0 63px -60px;
}
.intagration__item2 img:last-child {
  margin: 0 0 0 62px;
}
.intagration__item3 {
  grid-column: 1/-3;
  grid-row: 2/-2;
  padding: 100px 0 0 0;
}
.intagration__item4 {
  grid-column: 3/-1;
  grid-row: 2/3;
  padding: 32px 0 0 0;
}
.intagration__item4 img {
  margin: 0 0 0 -18px;
}
.intagration__item5 {
  grid-column: 2/-2;
  grid-row: 2/-2;
}
.intagration__item6 {
  grid-column: 2/-2;
  grid-row: 3/-2;
  padding: 17px 0 0 0;
}
.intagration__item6 img {
  margin: 0 0 0 -10px;
}
.intagration__item7 {
  grid-column: 3/-1;
  grid-row: 3/-1;
  padding: 90px 0 0 0;
}
.intagration__item7 img {
  margin: 0 0 0 -32px;
}

.integration__body {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (max-width: 767px) {
  .integration__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .integration__box p {
    padding: 0;
  }
  .integration__item2 {
    grid-column: 2/-3;
    grid-row: 2/-2;
    padding: 34px 0 0 0;
    z-index: 2;
  }
  .integration__item2 img:not(:last-child) {
    margin: 0 0 63px -30px;
  }
  .integration__item2 img:last-child {
    margin: 0 0 0 62px;
  }
  .integration__item3 {
    display: none;
  }

  .page__scanner {
    margin-bottom: 60px;
  }
}
@media (max-width: 540px) {
  .intagration__item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intagration__item2 img:first-child {
    margin: 0 0 30px 0;
  }
  .intagration__item2 img:last-child {
    margin: 0;
  }
  .intagration__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 0 0;
  }
  .intagration__images img {
    margin: 0;
  }
  .intagration__item3 {
    padding: 30px 0 0 0;
  }
  .intagration__item6 {
    padding: 30px 0 0 0;
  }
  .intagration__item7 {
    padding: 60px 0 0 0;
  }

  .page__integration {
    z-index: 8;
    margin: 0 0 80px 0;
  }

  .page__scanner {
    margin: 0;
  }
}
/*---------------------code-----------------------*/
.code__body {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10% 0 0 0;
  margin: -50% 0 0 81px;
}
.code__img-iphone2 {
  margin: 0 0 0 80px;
}
.code__img-iphone2 img:last-child {
  transform: translate(30px, 50%);
}
.code__items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 376px;
  padding: 0 0 30px 0;
}
.code__items p {
  padding: 0 15px 0 15px;
  margin: 0 0 58px 0;
}

.box-image {
  position: relative;
}
.box-image__img {
  display: flex;
  width: 100%;
}
.box-image__img img {
  width: 100%;
}
.box-image__nightlife {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}
.box-image__nightlife img {
  margin: 1% 0 0 82%;
}
.box-image__backgraund {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.box-image__backgraund img {
  width: 100%;
  height: 100%;
}
.box-image__modile {
  display: none;
}

@media (max-width: 1500px) {
  .code__img-iphone2 {
    margin: 0 0 0 40px;
  }
  .code__img-iphone2 img:last-child {
    transform: translate(0, 50%);
  }
}
@media (max-width: 1280px) {
  .box-image__img img:last-child {
    display: none;
  }

  .code__img-iphone2 img:last-child {
    display: none;
  }
}
@media (max-width: 768px) {
  .box-image__img img:last-child {
    display: none;
  }
  .box-image__modile {
    display: block;
    max-width: 353px;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
  }
  .box-image__modile::before {
    content: url("../img/code/nightlife.png");
    top: 0;
    left: 0;
    transform: translateY(300%);
    position: absolute;
  }
  .box-image__nightlife {
    display: none;
  }

  .code {
    margin-bottom: 130px;
  }
  .code__img-iphone2 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: -40% 0 0 0;
    z-index: 5;
  }
  .code__img-iphone2 img:last-child {
    transform: translate(0);
    display: block;
  }
  .code__img-iphone2 img:not(:last-child) {
    margin: 0 0 50px 0;
  }
  .code__body {
    flex-direction: column-reverse;
    margin: -55% 0 0 0;
  }

  .btn {
    align-items: center;
  }
}
@media (max-width: 744px) {
  .code__img-iphone2 {
    margin: -55% 0 0 0;
  }
}
@media (max-width: 425px) {
  .code__img-iphone2 {
    margin: -80% 0 0 0;
  }
}
@media (max-width: 355px) {
  .box-image__modile::before {
    transform: translate(50%, 350%);
  }
}
@media (max-width: 341px) {
  .code__img-iphone2 {
    margin: -140% 0 0 0;
  }
  .code__items {
    max-width: 300px;
  }

  .box-image__modile::before {
    transform: translate(30%, 240%);
  }
}
@media (max-width: 320px) {
  .code {
    margin-bottom: 50px;
  }
}
/*--------------------generate---------------------*/
.generate {
  position: relative;
}
.generate__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 80px 0;
}
.generate__image {
  z-index: -1;
  position: absolute;
}
.generate__image img {
  width: 100%;
}
.generate__item {
  position: absolute;
  width: 100%;
}
.generate__item img {
  width: 100%;
}
.generate__img {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
}
.generate__img img {
  max-width: 100%;
}
.generate__img::after {
  content: "";
  background-image: url("../img/generate/arrow.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 120%;
  position: absolute;
}
.generate__img-text {
  font-weight: 700;
  font-size: 21px;
  line-height: 123%;
  color: #FFFFFF;
  position: absolute;
  transform: translate(308%, -150%);
}
.generate__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.generate__title {
  font-weight: 700;
  font-size: 51px;
  line-height: 121%;
  color: #ffffff;
  max-width: 381px;
}
.generate__text {
  font-size: 18px;
  line-height: 138%;
  color: #ffffff;
  max-width: 330px;
  padding: 0 0 0 20px;
}

@media (max-width: 992px) {
  .generate__img::after {
    left: 105%;
  }
  .generate__img-text {
    transform: translate(250%, -150%);
  }
}
@media (max-width: 768px) {
  .generate {
    display: flex;
    flex-direction: column-reverse;
  }
  .generate__box {
    display: block;
    margin: 0 0 70px 0;
  }
  .generate__title {
    font-size: 24px;
  }
  .generate__title:not(:last-child) {
    margin: 0 0 24px 0;
  }
  .generate__text {
    font-size: 16px;
    padding: 0;
  }
  .generate__img::after {
    top: 90%;
    left: 30%;
    transform: rotate(40deg);
  }
  .generate__img-text {
    transform: translate(140%, 1500%);
  }
  .generate__content {
    margin: 0;
  }
}
@media (max-width: 424px) {
  .generate__img::after {
    display: none;
  }
  .generate__img-text {
    transform: translate(50%, 1500%);
  }
}
@media (max-width: 320px) {
  .generate__img img {
    transform: scale(0.8);
  }
  .generate__img-text {
    display: none;
  }
  .generate__box {
    display: block;
    margin: 0;
  }
  .generate__title {
    padding: 0 66px 0 0;
  }
}
/*------------------------easy-----------------------*/
.easy__body {
  display: flex;
  flex-direction: column;
}
.easy__top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.easy__title {
  max-width: 430px;
  font-weight: 700;
  font-size: 51px;
  line-height: 121%;
  color: #ffffff;
}
.easy__title:not(:last-child) {
  margin: 0 0 26px 0;
}
.easy__text {
  font-size: 18px;
  line-height: 138%;
  color: #ffffff;
  top: 0;
  left: 0;
}
.easy__content {
  display: flex;
  justify-content: center;
}
.easy__box {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 868px;
  padding: 0 15px;
}
.easy__box p:nth-child(2) {
  margin: 204px 0 0 475px;
}

.box__image img {
  width: 100%;
}
.box__top-text {
  max-width: 285px;
  min-height: 113px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 122%;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
  padding: 30px 20px;
  position: absolute;
  margin: 359px 0 0 -24px;
}
.box__middle-text {
  max-width: 185px;
  min-height: 91px;
  background: #000000;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
  font-weight: 700;
  font-size: 22px;
  line-height: 122%;
  padding: 19px 13px;
  position: absolute;
  bottom: 308px;
  right: -12px;
}
.box__bottom-text {
  max-width: 175.58px;
  min-height: 65.37px;
  background: #000000;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
  font-weight: 500;
  font-size: 22px;
  line-height: 122%;
  padding: 19px 15px;
  position: absolute;
  bottom: 243px;
  left: 198px;
}

@media (max-width: 958px) {
  .easy__title {
    font-size: 24px;
  }
}
@media (max-width: 805px) {
  .easy__box p:nth-child(2) {
    margin: 204px 0 0 400px;
  }
}
@media (max-width: 768px) {
  .easy__top {
    align-items: flex-start;
    margin: 0 0 145px 0;
  }
  .easy__box p:nth-child(2) {
    margin: 50px 0 0 360px;
  }

  .box__top-text {
    margin: -75px 0 0 60px;
  }
  .box__middle-text {
    bottom: 40px;
    right: 120px;
  }
  .box__bottom-text {
    bottom: 150px;
    left: 100px;
  }
}
@media (max-width: 708px) {
  .easy__top {
    align-items: center;
    margin: 0 0 145px 0;
  }
}
@media (max-width: 690px) {
  .easy__box p:nth-child(2) {
    margin: 90px 0 0 320px;
  }

  .box__top-text {
    margin: -85px 0 0 60px;
  }
  .box__middle-text {
    bottom: 120px;
    right: 50px;
  }
  .box__bottom-text {
    bottom: 150px;
    left: 80px;
  }
}
@media (max-width: 674px) {
  .easy__box p:nth-child(2) {
    display: none;
  }

  .box__top-text {
    margin: -75px 0 0 60px;
  }
  .box__middle-text {
    bottom: 120px;
    right: 50px;
  }
  .box__bottom-text {
    bottom: 150px;
    left: 80px;
  }
}
@media (max-width: 548px) {
  .easy__box p:nth-child(2) {
    display: none;
  }

  .box__top-text {
    margin: -75px 0 0 60px;
    font-size: 12px;
    line-height: 120%;
    max-width: 165px;
    min-height: 57px;
    padding: 13px 8px;
  }
  .box__middle-text {
    bottom: 120px;
    right: 50px;
    max-width: 122px;
    min-height: 58px;
    padding: 13px 8px;
    font-size: 12px;
    line-height: 120%;
  }
  .box__bottom-text {
    bottom: 100px;
    left: 80px;
    max-width: 107px;
    min-height: 43px;
    font-size: 12px;
    line-height: 120%;
    padding: 13px 8px;
  }
}
@media (max-width: 396px) {
  .easy__box p:nth-child(2) {
    margin: 25px 0 0 160px;
    display: block;
  }

  .box__top-text {
    margin: -55px 0 0 60px;
    font-size: 12px;
    line-height: 120%;
    max-width: 165px;
    min-height: 57px;
    padding: 13px 8px;
  }
  .box__middle-text {
    bottom: -40px;
    right: 20px;
    max-width: 122px;
    min-height: 58px;
    padding: 13px 8px;
    font-size: 12px;
    line-height: 120%;
  }
  .box__bottom-text {
    bottom: 50px;
    left: 80px;
    max-width: 107px;
    min-height: 43px;
    font-size: 12px;
    line-height: 120%;
    padding: 13px 8px;
  }
}
@media (max-width: 356px) {
  .easy__box p:nth-child(2) {
    margin: -15px 0 0 120px;
  }

  .box__top-text {
    margin: -85px 0 0 10px;
  }
  .box__middle-text {
    bottom: -40px;
    right: 20px;
  }
  .box__bottom-text {
    bottom: 50px;
    left: 30px;
  }
}
/*---------------------notab----------------------*/
.notab {
  display: none;
}

@media (min-width: 396px) {
  .notab {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notab__img-background {
    width: 100%;
  }
  .notab__img-background img {
    width: 100%;
  }
  .notab__iphone {
    position: absolute;
  }
  .notab__iphone img {
    padding: 0 15px;
    max-width: 100%;
  }
}
/*---------------------getintouch--------------------*/
.page__getintouch {
  position: relative;
  margin: 0 0 91px 0;
}
.page__getintouch img {
  right: 0;
  bottom: -20%;
  position: absolute;
}

.getintouch__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.getintouch__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 818px;
  position: relative;
}
.getintouch__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 626px;
  position: relative;
  margin: 0 0 82px 0;
}
.getintouch__top h2:not(:last-child) {
  margin: 0 0 23px 0;
}
.getintouch__img-title img {
  position: absolute;
  top: -280%;
  left: -50%;
}
.getintouch__title {
  font-weight: bold;
  font-size: 51px;
  line-height: 121%;
  color: #ffffff;
}
.getintouch__text {
  font-size: 18px;
  line-height: 138%;
  color: #ffffff;
}
.getintouch__form {
  width: 100%;
  text-align: center;
  z-index: 2;
}
.getintouch__input:invalid {
  border: 3px solid #aa0f04;
}
.getintouch__input:not(:focus):invalid {
  border: 1px solid #5C5C5C;
}
.getintouch__input:not(:last-child) {
  margin: 0 0 23px 0;
}
.getintouch__input:nth-child(3) {
  display: flex;
  flex: 0 1 50%;
  justify-content: space-between;
}
.getintouch__input:nth-child(3) input {
  max-width: 394px;
}
.getintouch__input:nth-child(3) input:not(:last-child) {
  margin: 0 24px 0 0;
}
.getintouch__input input {
  width: 100%;
  min-height: 83px;
  background: #FFFFFF;
  border: 1px solid #5C5C5C;
  border-radius: 10px;
  font-size: 24px;
  line-height: 138%;
  color: #BFBFBF;
  padding: 29px 70px 29px 23px;
}
.getintouch__input input:focus {
  color: black;
}
.getintouch__input input:invalid {
  border: 3px solid #aa0f04;
}
.getintouch__input input:not(:focus):invalid {
  border: 1px solid #5C5C5C;
}
.getintouch__textarea textarea {
  width: 100%;
  height: 199px;
  background: #FFFFFF;
  border: 1px solid #5C5C5C;
  border-radius: 10px;
  font-size: 24px;
  line-height: 138%;
  color: #BFBFBF;
  padding: 29px 23px 29px 23px;
}
.getintouch__textarea textarea:invalid {
  border: 3px solid #aa0f04;
}
.getintouch__textarea textarea:not(:focus):invalid {
  border: 1px solid #5C5C5C;
}
.getintouch__btn {
  background: #00000000;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 25px 167px;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin: 60px 0 0 0;
}
@media (max-width: 768px) {
  .getintouch__input:nth-child(3) {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .getintouch__input:nth-child(3) input {
    max-width: 100%;
  }
  .getintouch__input:nth-child(3) input:not(:last-child) {
    margin: 0 0 23px 0;
  }
}
@media (max-width: 708px) {
  .getintouch__top {
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
  }
  .getintouch__text {
    font-size: 14px;
    line-height: 138%;
    color: #ffffff;
  }
  .getintouch__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 121%;
    color: #ffffff;
  }
  .getintouch__img-title {
    top: 0;
    left: 0;
  }
  .getintouch__img-title img {
    transform: translate(0, -10%);
  }
}
@media (max-width: 468px) {
  .getintouch__img-title {
    top: 0;
    left: 0;
  }
  .getintouch__img-title img {
    transform: translate(-30%);
  }
}
@media (max-width: 413px) {
  .getintouch input {
    max-width: 320px;
  }
  .getintouch__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 319px;
  }
  .getintouch__form:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .getintouch__form:nth-child(3) input {
    max-width: 319px;
  }
  .getintouch__btn {
    padding: 26px 125px;
  }
}

/*--------------------------store_bottom----------------*/
.store__bottom {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.store__bottom h2 {
  font-size: 24px;
}

/*------------------------footer---------------------*/
.footer {
  position: relative;
}
.footer__img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  padding: 90px 0;
}
.footer__text {
  padding: 0 0 0 10px;
}
.footer__text p {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 138%;
  color: #FFFFFF;
}
.footer__text p:not(:last-child) {
  margin: 0 0 25px 0;
}

.link__logo {
  margin: 0 0 16px 0;
  display: inline-block;
}
.link__text {
  font-family: Avenir;
}
.link__text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 138%;
  color: #ffffff;
}
.link__email {
  margin: 0 0 19px 0;
  color: #ffffff;
  font-family: Avenir;
  font-weight: 500;
  font-size: 18px;
  line-height: 138%;
}
.link__email p {
  margin: 0 0 3px 0;
}
.link__email a {
  color: #ffffff;
}

@media (max-width: 320px) {
  .footer__img {
    bottom: -20%;
    left: -80%;
  }
  .footer__body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
  }
  .footer__text {
    padding: 0;
    margin: 0 0 58px 0;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link__text {
    display: flex;
  }
  .link__email {
    display: flex;
    align-items: flex-start;
  }
  .link__email a {
    margin: 0 0 0 5px;
  }
}/*# sourceMappingURL=style.css.map */